html,
body {
  padding: 0;
  margin: auto;
  font-family: "Phantom Sans",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  width: 80%;
  max-width: 800px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.application-link {
  display: grid;
  grid-template: ". ." 100% / 1fr 70px;
  color: rgb(45, 158, 228);
  font-size: 36px;
  line-height: 1.25;
  font-weight: bold;
  cursor: pointer;
}

.app-link-arrow {
  place-self: center;
}

.section {
  padding-top: 10px;
}

.section-title {
  padding-bottom: 10px;
  font-size: 27px;
  margin: 0px;
  color: #e42d42;
  font-weight: bold;
  line-height: 1.25;
}

.item {
  line-height: 1.375;
  font-size: 18px;
  color: #384046;
  padding-bottom: 10px;
}

.item-key {
  font-size: 13px;
  color: #7a8c97;
}

.question {
  font-weight: 800;
}
