html,
body {
  padding: 0;
  margin: auto;
  font-family: "Phantom Sans",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  width: 80%;
  max-width: 800px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.application-link {
  display: grid;
  grid-template: ". ." 100% / 1fr 70px;
  color: rgb(45, 158, 228);
  font-size: 36px;
  line-height: 1.25;
  font-weight: bold;
  cursor: pointer;
}

.app-link-arrow {
  place-self: center;
}

.section {
  padding-top: 10px;
}

.section-title {
  padding-bottom: 10px;
  font-size: 27px;
  margin: 0px;
  color: #e42d42;
  font-weight: bold;
  line-height: 1.25;
}

.item {
  line-height: 1.375;
  font-size: 18px;
  color: #384046;
  padding-bottom: 10px;
}

.item-key {
  font-size: 13px;
  color: #7a8c97;
}

.question {
  font-weight: 800;
}

.actions-buttons {
  display: flex;
  /*flex-direction: column;*/
  place-content: center;
  place-items: center;
}

.action-button {
  box-sizing: border-box;
  padding: 10px;
  margin: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  width: 30%;
}

.action-button:hover {
  opacity: .5;
}

.accept {
  background: #33d6a6;
}

.reject {
  background: #ec3750;
}

.teacher {
  background: #f1c40f;
}

.response-modal {
  position: absolute;
  border-radius: 10px;
  background: lightgrey;
  left: 50%;
  top: 5%;
  width: 70%;
  transform: translate(-50%, 0);
  /*overflow: scroll;*/
  padding: 20px;
}

.response-modal-buttons {
  display: flex;
  place-content: center;
  place-items: center;
}

.response-email {
  display: block;
  width: 90%;
  min-height: 300px;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  box-sizing: border-box;
  resize: vertical;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  vertical-align: middle;
  line-height: inherit;
  font-family: inherit;
  color: inherit;
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  border-color: #dde1e4;
  font-size: inherit;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 6px;
  padding-bottom: 6px;
  background-color: white;
}
  
.response-modal input {
  width: 100%;
  padding: 3px;
  margin-bottom: 5px;
}

